<div class="container">

  <h2>プロフィール編集</h2>

  <div class="row no-gutters">
    <!--エラーメッセージ-->
    <%= render 'items/error', errors: @user %>
  </div>

  <div class="row no-gutters">
    <%= form_with model: @user do |f| %>
      <div class="row no-gutters mt-3">
        <label for="inputName">Name</label>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
      </div>
      <div class="row no-gutters mt-3">
        <label for="inputImage">ProfileImage</label>
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
      </div>

        <div class="row no-gutters mt-3">
          <% if admin_signed_in? %>
            <div class="col-lg-4">会員ステータス</div>
              <%= f.radio_button :is_deleted, :false %><%= f.label :is_deleted, "有効", class: "mr-3 text-secondary" %>
              <%= f.radio_button :is_deleted, :true %><%= f.label :is_deleted, "退会", class: "text-secondary" %>
          <% end %>
        </div>
      </div>
      <div class="row no-gutters mt-3">
        <%= f.submit "変更を保存" %>
        <%= link_to "退会する", unsubscribe_path, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>


</div>