<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
</div>

<!-- ユーザーの投稿一覧 -->

<% @items.each do |item| %>
<div>
  <%= link_to item_path(item.id) do %>
  <% if item.image.attached? %>

      <p>投稿画像：<%= image_tag item.image, size:"200x200" %></p>

  <% end %>
  <p>ショップ名：<%= item.title %></p>
  <p>説明：<%= item.body %></p>
  <p>投稿ユーザー画像：<%= image_tag item.user.get_profile_image, size:"100x100" %></p>
  <p>ユーザーネーム：<%= item.user.name %></p>
  <% end %>
</div>
<% end %>