<!--投稿一覧-->
<% items.each do |item| %>
<!--投稿はカードで囲む-->
<div class="card">
  <div class="card-body">
    <h6 class="card-title">

  <%= link_to item_path(item.id) do %>
  <% if item.image.attached? %>
    <%= image_tag item.image, size:"200x200" %>
  <% end %>
  <p><%= item.title %></p>
  <p><%= item.body %></p>
  <p><%= link_to "#{item.post_comments.count} コメント", item_path(item.id) %></p>
  <p><%= image_tag item.user.get_profile_image, size:"50x50" %></p>
  <p><%= item.user.name %></p>
  <% end %>

    </h6>
  </div>
</div>
<% end %>
<%= paginate items %>