<h1>投稿詳細</h1>
<div>

  <% @item_tags.each do |tag| %>
    <%= link_to tag.name,search_tag_path(tag_id: tag.id)%>
    <%="(#{tag.items.count})" %>
  <% end %>

  <% if @item.image.attached? %>
    <p><%= image_tag @item.image, size:"200x200" %></p>
  <% end %>
  <p><%= @item.title %></p>
  <p><%= @item.body %></p>
  <p><%= image_tag @item.user.get_profile_image, size:"100x100" %></p>
  <p><%= @item.user.name %></p>
  <p>投稿日：<%= @item.created_at.strftime('%Y/%m/%d') %></p>

  <% if @item.user == current_user || admin_signed_in? %>
    <%= link_to "削除", item_path(@item), method: :delete %>
  <% end %>

</div>

<div>

  <!--コメント-->
  <p>コメント件数：<%= @item.post_comments.count %></p>
  <% @item.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image, size:"100x100" %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <!--コメント削除-->
    <% if post_comment.user == current_user || admin_signed_in? %>
      <%= link_to "削除", item_post_comment_path(post_comment.item, post_comment), method: :delete %>
    <% end %>
  <% end %>

    <!--いいね-->
    <%= render 'items/favorited', item: @item %>

</div>
<div>
  <%= form_with model: [@item, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>